.container {
  max-width: 95%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
}

.fedora {
  margin: 0 10%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  margin: 0 5px;
}

@media (min-width: 0) {
  .col-xs-1 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((1 / 12 * 100%) - 2 * 5px);
  }
  .col-xs-2 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((2 / 12 * 100%) - 2 * 5px);
  }
  .col-xs-3 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((3 / 12 * 100%) - 2 * 5px);
  }
  .col-xs-4 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((4 / 12 * 100%) - 2 * 5px);
  }
  .col-xs-5 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((5 / 12 * 100%) - 2 * 5px);
  }
  .col-xs-6 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((6 / 12 * 100%) - 2 * 5px);
  }
  .col-xs-7 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((7 / 12 * 100%) - 2 * 5px);
  }
  .col-xs-8 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((8 / 12 * 100%) - 2 * 5px);
  }
  .col-xs-9 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((9 / 12 * 100%) - 2 * 5px);
  }
  .col-xs-10 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((10 / 12 * 100%) - 2 * 5px);
  }
  .col-xs-11 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((11 / 12 * 100%) - 2 * 5px);
  }
  .col-xs-12 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((12 / 12 * 100%) - 2 * 5px);
  }
}

@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((1 / 12 * 100%) - 2 * 5px);
  }
  .col-sm-2 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((2 / 12 * 100%) - 2 * 5px);
  }
  .col-sm-3 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((3 / 12 * 100%) - 2 * 5px);
  }
  .col-sm-4 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((4 / 12 * 100%) - 2 * 5px);
  }
  .col-sm-5 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((5 / 12 * 100%) - 2 * 5px);
  }
  .col-sm-6 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((6 / 12 * 100%) - 2 * 5px);
  }
  .col-sm-7 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((7 / 12 * 100%) - 2 * 5px);
  }
  .col-sm-8 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((8 / 12 * 100%) - 2 * 5px);
  }
  .col-sm-9 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((9 / 12 * 100%) - 2 * 5px);
  }
  .col-sm-10 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((10 / 12 * 100%) - 2 * 5px);
  }
  .col-sm-11 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((11 / 12 * 100%) - 2 * 5px);
  }
  .col-sm-12 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((12 / 12 * 100%) - 2 * 5px);
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((1 / 12 * 100%) - 2 * 5px);
  }
  .col-md-2 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((2 / 12 * 100%) - 2 * 5px);
  }
  .col-md-3 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((3 / 12 * 100%) - 2 * 5px);
  }
  .col-md-4 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((4 / 12 * 100%) - 2 * 5px);
  }
  .col-md-5 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((5 / 12 * 100%) - 2 * 5px);
  }
  .col-md-6 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((6 / 12 * 100%) - 2 * 5px);
  }
  .col-md-7 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((7 / 12 * 100%) - 2 * 5px);
  }
  .col-md-8 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((8 / 12 * 100%) - 2 * 5px);
  }
  .col-md-9 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((9 / 12 * 100%) - 2 * 5px);
  }
  .col-md-10 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((10 / 12 * 100%) - 2 * 5px);
  }
  .col-md-11 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((11 / 12 * 100%) - 2 * 5px);
  }
  .col-md-12 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((12 / 12 * 100%) - 2 * 5px);
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((1 / 12 * 100%) - 2 * 5px);
  }
  .col-lg-2 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((2 / 12 * 100%) - 2 * 5px);
  }
  .col-lg-3 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((3 / 12 * 100%) - 2 * 5px);
  }
  .col-lg-4 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((4 / 12 * 100%) - 2 * 5px);
  }
  .col-lg-5 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((5 / 12 * 100%) - 2 * 5px);
  }
  .col-lg-6 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((6 / 12 * 100%) - 2 * 5px);
  }
  .col-lg-7 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((7 / 12 * 100%) - 2 * 5px);
  }
  .col-lg-8 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((8 / 12 * 100%) - 2 * 5px);
  }
  .col-lg-9 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((9 / 12 * 100%) - 2 * 5px);
  }
  .col-lg-10 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((10 / 12 * 100%) - 2 * 5px);
  }
  .col-lg-11 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((11 / 12 * 100%) - 2 * 5px);
  }
  .col-lg-12 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((12 / 12 * 100%) - 2 * 5px);
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((1 / 12 * 100%) - 2 * 5px);
  }
  .col-xl-2 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((2 / 12 * 100%) - 2 * 5px);
  }
  .col-xl-3 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((3 / 12 * 100%) - 2 * 5px);
  }
  .col-xl-4 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((4 / 12 * 100%) - 2 * 5px);
  }
  .col-xl-5 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((5 / 12 * 100%) - 2 * 5px);
  }
  .col-xl-6 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((6 / 12 * 100%) - 2 * 5px);
  }
  .col-xl-7 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((7 / 12 * 100%) - 2 * 5px);
  }
  .col-xl-8 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((8 / 12 * 100%) - 2 * 5px);
  }
  .col-xl-9 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((9 / 12 * 100%) - 2 * 5px);
  }
  .col-xl-10 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((10 / 12 * 100%) - 2 * 5px);
  }
  .col-xl-11 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((11 / 12 * 100%) - 2 * 5px);
  }
  .col-xl-12 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: calc((12 / 12 * 100%) - 2 * 5px);
  }
}

.btn-download-green {
  color: #61b921;
  background: none;
  border-style: solid;
  border-color: #61b921;
  border-radius: 5px;
  padding: 5px 5px;
}

.btn-download-green:hover {
  background: #61b921;
  color: #fff;
}

.btn-download-orange {
  color: #c17d2a;
  background: none;
  border-style: solid;
  border-color: #c17d2a;
  border-radius: 5px;
  padding: 5px 5px;
}

.btn-download-orange:hover {
  background: #c17d2a;
  color: #fff;
}

.left-position {
  float: left;
}

.right-position {
  float: right;
}

.clear-float {
  clear: both;
}

.position-fixed {
  position: fixed;
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display {
  display: none;
}

.vertical-top {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.vertical-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.vertical-bottom {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.horizontal-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.horizontal-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.horizontal-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=framework.css.map */