.container {
  max-width: 95%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
}

.fedora {
  margin: 0 10%;
}

$breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$col-margin: 5px;

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  max-width: 100%;
  margin: 0 $col-margin;
}

@function calcwidth($n) {
  @return calc((#{$n} / 12 * 100%) - 2 * #{$col-margin});
}

@each $size, $value in $breakpoints {
  @media (min-width: $value) {
    @for $i from 1 through 12 {
      .col-#{$size}-#{$i} {
        flex-grow: 1;
        width: calcwidth($i);
      }
    }
  }
}

@mixin colors($color) {
  color: $color;
}

.btn-download-green {
  @include colors(#61b921);

  background: none;
  border-style: solid;
  border-color: #61b921;
  border-radius: 5px;
  padding: 5px 5px;

  &:hover {
    background: #61b921;
    color: #fff;
  }
}

.btn-download-orange {
  @include colors(#c17d2a);

  background: none;
  border-style: solid;
  border-color: #c17d2a;
  border-radius: 5px;
  padding: 5px 5px;

  &:hover {
    background: #c17d2a;
    color: #fff;
  }
}

//Floats

.left-position {
    float: left;
}

.right-position {
  float: right;
}

.clear-float {
  clear: both;
}

// Position

$positions-map : (position-fixed : fixed, position-static : static, position-relative : relative, position-absolute : absolute);

@each $position, $value in $positions-map {
  .#{$position} {
    position: $value;
  }
}

// Display properties

$display-map : (display-flex : flex, display-none : none);

@each $display, $display-value in $display-map {
  .#{display} {
    display: $display-value;
  }
}

//Display hidden
.display-hidden {
  visibility: hidden;
}
// Flex properties

//vertical alignment

$vertical-alignments : (vertical-top : flex-start, vertical-center : center, vertical-bottom : flex-end);

@each $vert-align, $vert-value in $vertical-alignments {
  .#{$vert-align} {
    align-content: $vert-value;
  }
}

// Horizontal alignment
$horizontal-alignments : (horizontal-left : flex-start, horizontal-center : center, horizontal-right : flex-end);

@each $horiz-align, $horiz-value in $horizontal-alignments {
  .#{$horiz-align} {
    justify-content: $horiz-value;
  }
}

//Backgroung and text
$background-map: (redfoothill : #af0029, bluefoothill : #072f5f, yellowfoothill : #edb970, 
orangefoothill : #e4a241, purplefoothill : #4429b8, greyfoothill : #8c8c8c, 
maroonfoothill : #cc0000, greenfoothill : #5fa624, pinkfoothill : #e16389, indigofoothill : #7400b3);

@each $colorfoot, $colorneighbor in $background-map {
  .#{$colorfoot} {
    background-color: $colorneighbor;
    color: darken($colorneighbor, 15%);
  }  
}

// Text alignments
$alignment-map : (text-left : left, text-center : center, text-right : right);

@each $align-class, $align-value in $alignment-map {
  .#{$align-class} {
    text-align: $align-value;
  }
}

// Font-size classes

$fontsize-map : (f-size-30 : 30px, f-size-25 : 25px, f-size-20 : 20px, f-size-15 : 15px, f-size-10 : 10px);

@each $font-class, $font-value in $fontsize-map {
  .#{$font-class} {
    font-size: $font-value;
  }
}
 // Font-weight

 $fontweight-map : (normal-font : normal, bold-font : bold, medium-font : medium);

 @each $font-class, $font-value in $fontweight-map {
   .#{$font-class} {
     font-weight: $font-value;
   }
 }

/*

 BOX UTILITIES

*/

// Margins

$margin-top-map : (none-top : 1rem, top-one-margin: 0.1rem, top-two-margin : 0.2rem, top-three-margin : 0.3rem, top-four-margin : 0.4rem, top-five-margin : 0.5rem,
top-six-margin : 0.6rem, top-seven-margin : 0.7rem, top-eight-margin : 0.8rem, top-nine-margin : 0.9rem);

@each $margin-class, $margin-side in $margin-top-map {
  .#{$margin-class}{
    margin-top : $margin-side;
  }
}

$margin-bottom-map : (non-bottom : 1rem, bottom-one-margin : 0.1rem, bottom-two-margin : 0.2rem, bottom-three-margin : 0.3rem, bottom-four-margin : 0.4rem, bottom-five-margin : 0.5rem,
bottom-six-margin : 0.6rem, bottom-seven-margin : 0.7rem, bottom-eight-margin : 0.8rem, bottom-nine-margin : 0.9rem,);

@each $margin-class, $margin-side in $margin-bottom-map {
  .#{$margin-class}{
    margin-bottom: $margin-side;
  }
}

$margin-right-map : (one-right : 1rem, right-one-margin : 0.1rem, right-two-margin : 0.2rem, right-three-margin : 0.30rem, right-four-margin : 0.4rem, right-five-margin : 0.5rem,
right-six-margin : 0.6rem, right-seven-margin : 0.7rem, right-eight-margin : 0.8rem, right-nine-margin : 0.9rem,);

@each $margin-class, $margin-side in $margin-right-map {
  .#{$margin-class}{
    margin-right: $margin-side;
  }
}

$margin-left-map : (one-left : 1rem, left-one-margin : 0.1rem, left-two-margin : 0.2rem, left-three-margin : 0.3rem, left-four-margin : 0.4rem, left-five-margin : 0.5rem,
left-six-margin : 0.6rem, left-seven-margin : 0.7rem, left-eight-margin : 0.8rem, left-nine-margin : 0.9rem,);

@each $margin-class, $margin-side in $margin-left-map {
  .#{$margin-class}{
    margin-left: $margin-side;
  }
}


// @function calcmargin($n) {
//   $auto-margin : (100% - #{$n})/2;
// }

// .margin-auto {
//   width: $n;
//   margin-left : calcmargin($n);
//   margin-right: calcmargin($n);
// }

