$fontFamily:'Open Sans', sans-serif;
$text-color: #212529;
$header-font-weight: 300;
$border-color: #dee2e6;

body{
  font-family: $fontFamily;
  color: $text-color;
  // background: #000;
}
header {
  background: #3c6eb4;
  font-family: $fontFamily;
   padding: 10px 0;
  .header-elements{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  a{
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    &:hover{
      color: #f8f9fa80;
    }
  }
}
.welcome{
  position: relative;
  padding: 100px;
  img{
    width: 75%;
    height: auto;
  }
  .release{
    position: absolute;
    top: 30px;
    right: 0;
    background: #a07cbc;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 4px 10px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    a{
      text-decoration: none;
      color: #fff;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  h1{
    font-weight: $header-font-weight;
    font-size: 2.5rem;
  }
  p{
    font-size: 1.4rem;
  }
}

.more-content{
  padding: 50px;
  background: #f8f9fa;
  border: 1px solid $border-color;
  display: flex;
  // grid-template-columns: 2;
  .content{
    border: 1px solid $border-color;
    border-radius: 5px;
    background: #fff;
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    // padding-left: 10px;
    flex-direction: column;
    // position: relative;
    // padding: 10px 0;
    p{
      margin-top: 40px;
      // background: #000;
    }
    span{
      display: block;
      // align-self: center;
      text-align: right;
      padding-top: 10px;
      padding-right: 10px;
      text-transform: uppercase;
      color: #6c757d;
      // background: #000;
    }
    .footer-view{
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
      a{
        color: #007bff;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  [class*="col-"]{
    position: relative;
    // border: 1px solid #000;
    padding-top: 35px;
    &:last-child{
      margin-left: 10px;
    }
    .img-view{
      position: absolute;
      top: 0;
      left: 10px;
      // border: 1px solid green;
    }
  }
}

.more-fed-service{
  background: #e9ecef;
  padding-bottom: 35px;
  // border: 2px solid green;
  // width: 90%;
  // margin: 0 auto;
  .services-logo{
    width: 90%;
    margin: 0 auto;
  }

  .emerging{
    // border: 1px solid #000;
    text-align: center;
  }
  .more-services{
    height: 150px;
    width: 85%;
    // margin: 0 auto; 
   border: 1px solid $border-color;
   border-radius: 5px;
    background: #fff;
    p{
      margin-top: 55px;
    }
    a{
      // border: 1px solid #000;
      display: block;
      text-align: right;
      margin-right: 15px;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  [class*="col-"]{
    position: relative;
    // border: 1px solid #000;
    padding-top: 35px;
    &:nth-child(2){
      margin: 0 10px;
    }
    .img-view{
      position: absolute;
      top: 0;
      left: 10px;
      // border: 1px solid green;
    }
  }
}

.magazine {
  background: #f8f9fa;
  .mag-header {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .fedora-flag-text {
    display: flex; 
    justify-content: flex-end;
    h1 {
      align-self: center;
    }
  }
  .services-logo {
    // border: 1px solid purple;
    .mag-content{
      border: 1px solid $border-color;
    width: 85%;
    margin: 0 auto;
    .mag-footer{
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      a{
        text-decoration: none;
        color:#000;
        font-weight: bold;
        margin: 10px 0;
        &:hover{
          text-decoration: underline;
        }
      }
      span{
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
    }
  }
  .more-article{
    // border: 1px solid red;
    // display: block;
    width: 85%;
    margin: 20px auto;
    text-align: right;
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.more-options{
  .option-header {
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
  background: #e9ecef;
  .services-logo{
    // border: 1px solid darkblue;
    width: 95%;
    margin: 0 auto;
  }
  .mag-content{
    border: 1px solid $border-color;
    background: #fff;
    margin-left: 10px;
    margin-bottom: 45px;
    a{
      width: 100%;
      display: block;
      text-align: right;
      margin-bottom: 15px;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.fedora-jumbotron{
  // border: 1px solid #000;
  width: 95%;
  margin: 0 auto;
  background: #f8f9fa;
  // height: 300px;
  // margin: 25px 0;
  .img{
    // border: 1px solid red;
    text-align: center;
  }
  .fed-text{
    // border: 1px solid red;
    // background: chocolate;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    em{
      font-weight: 600;
    }
  }
}
footer{
  border: 1px solid #000;
  background: #343a40;
  color: #fff;
  .footer-links{
    display: flex;
    justify-content: center;
    .links{
      &:nth-child(2){
        // border: 1px solid #fff;
        margin: 0 25px;
      }
      .first{
        text-transform: uppercase;
        margin-bottom: 5px;
      }
     ul{
       list-style: none;
       li:not(.first){
        //  border: 1px solid #000;
         margin-top: 10px;
       }
     }
    }
  }
  .footer-more-links{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .social{
      display: flex;
      margin-bottom: 10px;
      font-size: 15px;
      .fa-facebook{
        // border: 1px solid #000;
        margin-right: 20px;
      }
    }
    .fed-lang{
      // border: 1px solid #000;
      margin-top: 10px;
    }
  }
  a{
    // border: 1px solid red;
    color: #999;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .red-hat{
    // border: 1px solid #000;
    margin: 15px 0;
  }
}

//making the media querie to hide the text on the right
@media (max-width:992px){
  .fedora-flag-text h1{
    display: none;
  }
}