.container {
  max-width: 95%;
  margin: 0 auto; }

.container-fluid {
  max-width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col {
  flex: 1;
  max-width: 100vw;
  margin: 0 5px; }

@media (max-width: 0px) {
  .col-xs-1 {
    flex-grow: 1;
    width: 8.3333333333%; }

  .col-xs-2 {
    flex-grow: 1;
    width: 16.6666666667%; }

  .col-xs-3 {
    flex-grow: 1;
    width: 25%; }

  .col-xs-4 {
    flex-grow: 1;
    width: 33.3333333333%; }

  .col-xs-5 {
    flex-grow: 1;
    width: 41.6666666667%; }

  .col-xs-6 {
    flex-grow: 1;
    width: 50%; }

  .col-xs-7 {
    flex-grow: 1;
    width: 58.3333333333%; }

  .col-xs-8 {
    flex-grow: 1;
    width: 66.6666666667%; }

  .col-xs-9 {
    flex-grow: 1;
    width: 75%; }

  .col-xs-10 {
    flex-grow: 1;
    width: 83.3333333333%; }

  .col-xs-11 {
    flex-grow: 1;
    width: 91.6666666667%; }

  .col-xs-12 {
    flex-grow: 1;
    width: 100%; } }
@media (max-width: 576px) {
  .col-sm-1 {
    flex-grow: 1;
    width: 8.3333333333%; }

  .col-sm-2 {
    flex-grow: 1;
    width: 16.6666666667%; }

  .col-sm-3 {
    flex-grow: 1;
    width: 25%; }

  .col-sm-4 {
    flex-grow: 1;
    width: 33.3333333333%; }

  .col-sm-5 {
    flex-grow: 1;
    width: 41.6666666667%; }

  .col-sm-6 {
    flex-grow: 1;
    width: 50%; }

  .col-sm-7 {
    flex-grow: 1;
    width: 58.3333333333%; }

  .col-sm-8 {
    flex-grow: 1;
    width: 66.6666666667%; }

  .col-sm-9 {
    flex-grow: 1;
    width: 75%; }

  .col-sm-10 {
    flex-grow: 1;
    width: 83.3333333333%; }

  .col-sm-11 {
    flex-grow: 1;
    width: 91.6666666667%; }

  .col-sm-12 {
    flex-grow: 1;
    width: 100%; } }
@media (max-width: 768px) {
  .col-md-1 {
    flex-grow: 1;
    width: 8.3333333333%; }

  .col-md-2 {
    flex-grow: 1;
    width: 16.6666666667%; }

  .col-md-3 {
    flex-grow: 1;
    width: 25%; }

  .col-md-4 {
    flex-grow: 1;
    width: 33.3333333333%; }

  .col-md-5 {
    flex-grow: 1;
    width: 41.6666666667%; }

  .col-md-6 {
    flex-grow: 1;
    width: 50%; }

  .col-md-7 {
    flex-grow: 1;
    width: 58.3333333333%; }

  .col-md-8 {
    flex-grow: 1;
    width: 66.6666666667%; }

  .col-md-9 {
    flex-grow: 1;
    width: 75%; }

  .col-md-10 {
    flex-grow: 1;
    width: 83.3333333333%; }

  .col-md-11 {
    flex-grow: 1;
    width: 91.6666666667%; }

  .col-md-12 {
    flex-grow: 1;
    width: 100%; } }
@media (max-width: 992px) {
  .col-lg-1 {
    flex-grow: 1;
    width: 8.3333333333%; }

  .col-lg-2 {
    flex-grow: 1;
    width: 16.6666666667%; }

  .col-lg-3 {
    flex-grow: 1;
    width: 25%; }

  .col-lg-4 {
    flex-grow: 1;
    width: 33.3333333333%; }

  .col-lg-5 {
    flex-grow: 1;
    width: 41.6666666667%; }

  .col-lg-6 {
    flex-grow: 1;
    width: 50%; }

  .col-lg-7 {
    flex-grow: 1;
    width: 58.3333333333%; }

  .col-lg-8 {
    flex-grow: 1;
    width: 66.6666666667%; }

  .col-lg-9 {
    flex-grow: 1;
    width: 75%; }

  .col-lg-10 {
    flex-grow: 1;
    width: 83.3333333333%; }

  .col-lg-11 {
    flex-grow: 1;
    width: 91.6666666667%; }

  .col-lg-12 {
    flex-grow: 1;
    width: 100%; } }
@media (max-width: 1200px) {
  .col-xl-1 {
    flex-grow: 1;
    width: 8.3333333333%; }

  .col-xl-2 {
    flex-grow: 1;
    width: 16.6666666667%; }

  .col-xl-3 {
    flex-grow: 1;
    width: 25%; }

  .col-xl-4 {
    flex-grow: 1;
    width: 33.3333333333%; }

  .col-xl-5 {
    flex-grow: 1;
    width: 41.6666666667%; }

  .col-xl-6 {
    flex-grow: 1;
    width: 50%; }

  .col-xl-7 {
    flex-grow: 1;
    width: 58.3333333333%; }

  .col-xl-8 {
    flex-grow: 1;
    width: 66.6666666667%; }

  .col-xl-9 {
    flex-grow: 1;
    width: 75%; }

  .col-xl-10 {
    flex-grow: 1;
    width: 83.3333333333%; }

  .col-xl-11 {
    flex-grow: 1;
    width: 91.6666666667%; }

  .col-xl-12 {
    flex-grow: 1;
    width: 100%; } }
.btn-download-green {
  color: #61b921;
  background: none;
  border-style: solid;
  border-color: #61b921;
  border-radius: 5px;
  padding: 5px 5px; }
  .btn-download-green:hover {
    background: #61b921;
    color: #fff; }

.btn-download-orange {
  color: #c17d2a;
  background: none;
  border-style: solid;
  border-color: #c17d2a;
  border-radius: 5px;
  padding: 5px 5px; }
  .btn-download-orange:hover {
    background: #c17d2a;
    color: #fff; }

/*# sourceMappingURL=framework.css.map */
